<footer class='footer noprint textureBar'>
    <div id="w3c">
        <p>Page<br/> created<br/> using:</p>
        <a href="http://www.w3.org/html/logo/"><img src="//www.w3.org/html/logo/badge/html5-badge-h-css3-device.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Device Access" title="HTML5 Powered with CSS3 / Styling, and Device Access"></a>
    </div>

    <div class='clear'></div>

    <div id='source' class='noprint'>
        <div class='inner'>
            <a href="#" class='close'>X Close</a>
            <pre class='content prettyprint'></pre>
        </div>
    </div>
</footer>
