<section id="whoAmI" class='textureBar'>
    <div class='frame'>
        <header>
            <h1>Who Am I?</h1>
        </header>

        <p>I am a web developer & software engineer with expertise in web services, web applications and application interfaces. My work emphasizes the use of open technologies with clean, organized, standards-compliant code.</p>

        <p class='noprint'>Need an example? Try <a href="#source">viewing the source</a> or <a href='#' class='printPage'>printing</a> this page.</p>
    </div>
</section>