<!--
A little about my work:

I focus on hand coded HTML with preference to HTML5. While I prefer to design for modern web browsers and allow for graceful
degradation of features, I will focus on legacy browsers such as IE7 and IE8 if a target user base may use those browsers...but like any good web developer I would prefer to avoid Internet Explorer if possible :)

The page source below is indicative of my work. I like valid HTML and organized stylesheets, and typically employ the use of
external libraries to enhance my workflow and reduce the need for code that requires maintenance.

-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<title>{{site.title}}</title>
	
	<!-- Google Font API -->
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Droid+Sans' />
	
	<!-- LESS-compiled and minified responsive stylesheet. I would also normally use a CSS framework, but not here -->
	<link rel="stylesheet" href="/css/style.css" media="screen" />
	<link rel="stylesheet" href="/css/print.css" media="print" />
	
	<!-- Employing the jQuery library to assist with cross-browser JavaScript -->
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="/js/jquery-screencover.js"></script>
	<script src="/js/index.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
	
	<!-- IE HTML5 Compatibility -->
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Google Analytics -->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23133573-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>