<!doctype html>
<html>
{% include head.html %}

<body>
	{% include header.html %}

	{% include whoami.html %}

	<main>
		<div id='content' class='frame clear'>

			{{content}}
			<section id="skills">
				<header>
					<h1>Skills</h1>
				</header>
				<p><strong>Software:</strong> Apache HTTPD, IIS 7,  Microsoft SQL Server, Visual Studio 2010, Windows Communication Foundation, Windows Server 2003/2008</p>
				<p><strong>Libraries/Frameworks:</strong> Codeception BDD, CodeIgniter, CommonSpot 6, Concrete5, Django, jQuery, Kohana, Smarty, WordPress</p>
				<p><strong>Languages:</strong> HTML, CSS, JavaScript, PHP, C#, Python, XSL, Java, ColdFusion</p>
				<p><strong>Databases:</strong> MySQL, PostgreSQL, Microsoft SQL Server 2008, SQLite, SunOne LDAP, Microsoft Active Directory</p>
				<p><strong>Version Control:</strong> Subversion, Git</p>
			</section>
			
			<section id="education">
				<header>
					<h1>Education</h1>
				</header>
				<h2>University of Alaska Anchorage, 2011</h2>
				<p>Bachelors in Computer Science, Minor in Dance</p>
				<p>Served as Secretary and President for the UAA Dance Club for two years.</p>
				<p>Danced in the UAA Dance Ensemble for two years and performed in the springtime New Dances shows for three years.</p>
			</section>

			<section id="awards">
				<header>
					<h1>Awards</h1>
				</header>
				<p>Alaska Department of Public Safety, 2011: Commendation for Honorable Service</p>
			</section>
			
			<section id="employment">
				<header>
					<h1>Employment History</h1>
				</header>

				{% for post in site.jobs reversed %}
					<article>
						<header>
							<h2>{{post.title}}</h2>
						</header>
						<div class='jobDescription'>
							{{post.content}}
						</div>
					</article>
				{% endfor %}

				<p class='readMoreExpand noprint'>Need to see more?</p>
				<div class='readMore noprint'>
					<article>
						<header>
							<h2>Lab Consultant at University of Alaska Anchorage, 2005 - 2007, 2009 - 2010</h2>
						</header>
						<div class='jobDescription'>
							<p>Assisted lab patrons with software and hardware issues. Performed maintenance on the various IT Open Labs around campus.</p>
						</div>
					</article>

					<article>
						<header>
							<h2>Student Employee at University of Alaska Anchorage, Spring 2006</h2>
						</header>
						<div class='jobdescription'>
							<p>Performed research on using a genetic algorithm to optimize wavelet coefficients for use in compressing images.</p>
							<p>Employed use of Arctic Region Supercomputing Center, using their Matlab facilities.</p>
						</div>
					</article>
				</div>
			</section>

			<section id="portfolio" class="clear">
				<header>
					<h1>Projects</h1>
				</header>

				{% for project in site.projects %}
					<article class='project'>
						<div class='inner'>
							<header>
								<hgroup>
									<h2>{{project.title}}</h2>
									<h3>{{project.subtitle}}</h3>
								</hgroup>
								<time>{{project.time}}</time>
							</header>

							{{project.content}}
							
							<div class='cover'></div>
						</div>
					</article>
				{% endfor %}
				
				<footer></footer>
			</section>
			
			<section id="references" class="noscreen nomobile">
				<header>
					<h1>References</h1>
				</header>
				<p>References and recommendations are available by request</p>
			</section>
		</div>
	</main>

	{% include footer.html %}
</body>

</html>