<div class="profile-container">
    <img class="profile img-circle" src="{{ .Profile.Avatar }}" alt="" />
    <h1 class="name">{{ .Profile.Name }}</h1>
    <h3 class="tagline">{{ .Profile.Tagline }}</h3>
</div>
