<!doctype html>
<html>
{% include head.html %}

<body>
	{% include header.html %}

	{% include whoami.html %}

	<main>
		<div id='content' class='frame clear'>

			{{content}}
			<section id="work">
				<p>
					<a href="https://github.com/taiidani"><img src="/images/GitHub-Mark-64px.png" alt="GitHub" /></a>
					<a href="https://www.linkedin.com/in/ryannixon2/"><img src="/images/In-2C-66px-R.png" alt="LinkedIn" /></a>
				</p>
			</section>

			<section id="skills">
				<header>
					<h1>Skills</h1>
				</header>
				<h2>Languages</h2> <p>HTML, CSS, JavaScript, PHP, Python, C#, Golang, Java, Bash</p>
				<h2>Experience With</h2> Docker, CircleCI, Codeship, AWS, Sentry, Datadog, Jenkins</p>
			</section>
			
			<section id="education">
				<header>
					<h1>Education</h1>
				</header>
				<h2>University of Alaska Anchorage, 2011</h2>
				<p>Bachelors in Computer Science, Minor in Dance</p>
				<p>Served as Secretary and President for the UAA Dance Club for two years.</p>
				<p>Danced in the UAA Dance Ensemble for two years and performed in the springtime New Dances shows for three years.</p>
			</section>

			<section id="awards">
				<header>
					<h1>Awards</h1>
				</header>
				<p>Alaska Department of Public Safety, 2011: Commendation for Honorable Service</p>
			</section>
			
			<section id="employment">
				<header>
					<h1>Employment History</h1>
				</header>

				{% for post in site.jobs reversed %}
					<article>
						<header>
							<h2>{{post.title}}</h2>
						</header>
						<div class='jobDescription'>
							{{post.content}}
						</div>
					</article>
				{% endfor %}
			</section>
			
			<section id="references" class="noscreen nomobile">
				<header>
					<h1>References</h1>
				</header>
				<p>References and recommendations are available by request</p>
			</section>
		</div>
	</main>

	{% include footer.html %}
</body>

</html>
